body{
    font-family: arial, sans-serif;
    background: #8a8989;
    text-align: center;
    margin-top: 40px;
}

#caixa{
    width: 100px;
    height: 100px;
    background: #790000;
    margin: 30px auto;
    transition: transform 0.5s, background 0.5s;
}
